.banner {
  background-image: url("https://crypto-hunter.netlify.app/banner2.jpg");
  /* background-color: red; */
}

.banner-content {
  height: 400px;
}

.typoBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40%;
}

.carousel {
  height: 50%;
  display: flex;
  align-items: center;
}
